
  form {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }

  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }

